$card-max-width-sm: 237px;
$card-max-width-lg: 272px;
$card-image-width-sm: 172px;
$card-image-width-lg: 208px;
$card-image-height-sm: 202px;
$card-image-height-lg: 196px;

$space-1: 1px;
$space-8: 8px;
$space-16: 16px;
$space-32: 32px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-lg: 22px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

.product__card {
  box-sizing: border-box;
  width: 100%;
  max-width: $card-max-width-sm;
  background-color: var(--white);
  font-family: var(--font-main);
  border-radius: 8px;
  padding: $space-32;
  border: 1px solid var(--elements);

  &__image {
    display: block;
    width: $card-image-width-sm;
    height: $card-image-height-sm;
    object-fit: contain;

      @include lg-and-up {
        width: $card-image-width-lg;
        height: $card-image-height-lg;
    }
  }

  &__title {
    margin: $space-8 0;
    padding-top: $space-16;
    color: var(--primary);
    font-weight: $font-weight-semibold;
    font-size: $font-size-sm;
    line-height: 21px;
  }

  &__price {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5px;

    padding-bottom: $space-8;
    margin-bottom: $space-8;

    &-current {
      font-weight: $font-weight-extrabold;
      font-size: $font-size-lg;
    }

    &-old {
      color: var(--secondary);
      font-weight: $font-weight-medium;
      font-size: $font-size-lg;
      text-decoration: line-through;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: $space-1;
      background: var(--elements);
    }
  }

  &__specs {
    display: flex;
    flex-direction: column;
    gap: $space-8;
    padding: $space-8 0;
  }

  &__spec {
    display: flex;
    justify-content: space-between;

     &-label {
      color: var(--secondary);
      font-weight: $font-weight-semibold;
      font-size: $font-size-xs;
    }

    &-value {
      color: var(--primary);
      font-weight: $font-weight-bold;
      font-size: $font-size-xs;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__button {
    width: 160px;
  }

  @include lg-and-up {
    max-width: $card-max-width-lg;
  }
}