.tech-specs {
  &__title {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;

    @include md-and-up {
      font-size: 32px;
      line-height: 41px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--elements);
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
  }

  &__name {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }

  &__value {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
}
