.section {
  @include container;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    min-height: 28px;
  }

  &__title {
    color: var(--primary);
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  .swiper {
    align-items: stretch;
  }

  .swiper-slide {
    height: auto;
    display: flex;
  }

  .swiper-slide > * {
    height: 100%;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    justify-items: center;
    gap: 16px;
    width: 100%;
  }
}
