.section {
  @include container;
  padding: 12px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    min-height: 28px;
    padding: 0 20px;

    @include lg-and-up {
      padding: 0;
    }
  }

  &__title {
    color: var(--primary);
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  .swiper {
    align-items: stretch;
    padding: 14px;
    margin: -6px 0;

    @media screen and (min-width: 1260px) {
      margin: -6px -14px;
    }
  }

  .swiper-slide {
    height: auto;
    display: flex;
  }

  .swiper-slide > * {
    height: 100%;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    justify-items: center;
    gap: 16px;
    width: 100%;
  }
}
