$space-1: 1px;
$space-8: 8px;
$space-16: 16px;
$space-32: 32px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-lg: 22px;
$font-size-3xl: 32px;
$font-size-5xl: 48px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

:root {
  scroll-behavior: smooth;
}

.contacts__container {
  @include container;

  .breadcrumbs .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.contacts {
  font-family: var(--font-main);

  &__title {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: $font-size-3xl;
    font-weight: $font-weight-extrabold;
    color: var(--primary);

    @include sm-and-up {
      margin-top: 40px;
      font-size: $font-size-5xl;
    }
  }
}

.contact__card {
  display: flex;
  flex-direction: column;
  gap: $space-8;
  box-sizing: border-box;
  padding: $space-32;
  width: 100%;
  max-width: 288px;
  background-color: var(--bg-surface);
  font-family: var(--font-main);
  border-radius: 8px;
  border: 1px solid var(--elements);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  @include lg-and-up {
    max-width: 272px;
  }

  &-image {
    display: block;
    width: 224px;
    height: 196px;
    object-fit: contain;

    @include lg-and-up {
      width: 208px;
      height: 196px;
    }
  }

  &-title {
    position: relative;
    margin: $space-8 0;
    font-weight: $font-weight-semibold;
    font-size: $font-size-sm;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
      height: $space-1;
      background: var(--elements);
    }
  }

  &-info-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-info {
    display: flex;
  }

  &-info-value {
    font-weight: $font-weight-semibold;
    font-size: $font-size-xs;
    color: var(--secondary);
  }
}
