$header-size: 48px;
$header-size-lg: 64px;

$space-x: 16px;
$space-x-lg: 26px;

.actions {
  display: flex;
  height: 100%;
  color: var(--primary);

  &__item {
    flex-grow: 1;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: 1px solid var(--elements);
    z-index: 0;

    @include sm-and-up {
      width: $header-size;
    }

    &::before {
      content: '';
      position: absolute;
      height: 0;
      width: 100%;
      left: 0;
      bottom: 0;
      opacity: 0;
      background-color: var(--elements);
      z-index: -1;
      @include transition;
      transition-property: height, opacity;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 0;
      background-color: var(--primary);
      opacity: 0;

      @include transition;
      transition-property: height, opacity;
    }

    &:hover {
      &::before {
        height: 100%;
        opacity: 1;
      }
    }

    &--active {
      &::after {
        height: 4px;
        opacity: 1;
      }
    }

    @include lg-and-up {
      width: $header-size-lg;
    }
  }
}
