$height: 64px;

.header {
  @include container;
  height: $height;
  background: var(--elements);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include lg-and-up {
    max-width: 100%;
  }
}

.nav {
  display: flex;
  gap: 20px;
}
