.category__card {
  height: 443px;
  flex: 1;

  overflow: hidden;
}

.phone {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.categories {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

@media (max-width: 768px) {
  .categories {
    flex-direction: column;
  }
}
