.models {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px;
  width: 100%;

  @include sm-and-up {
    grid-template-columns: 1fr;
  }

  @include md-and-up {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include lg-and-up {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }


  &__empty {
    text-align: center;
    padding: 80px 0;
  }

  &__empty-title{
    font-size: 24px;
    font-weight: 700;
  }

  &__empty-text{
    color: #89939a;
    margin-top: 8px;
  }
}


