@use 'typography' as *;

$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1200px;

:root {
  --primary: #0f0f11;
  --secondary: #89939a;
  --accent: #4219d0;
  --accent-secondary: #f4ba47;
  --icons: #b4bdc3;
  --elements: #e2e6e9;
  --hover: #fafbfc;
  --white: #ffffff;
  --green: #27ae60;
  --red: #eb5757;
  --pink: #fcdbc1;
  --dark-green: #5f7170;
  --dark-grey: #4c4c4c;
  --light-grey: #f0f0f0;
  --font-main: 'Mont', sans-serif;
  --font-secondary: 'Manrope', sans-serif;
}

.text--accent-secondary {
  color: var(--accent-secondary);
}
