@use 'breakpoints' as *;

$padding: 0 16px;
$padding-sm: 0 24px;
$padding-md: 0 32px;
$max-width: 1200px;

@mixin container {
  padding: $padding;
  max-width: 100%;

  @include sm-and-up {
    padding: $padding-sm;
  }

  @include md-and-up {
    padding: $padding-md;
  }

  @include lg-and-up {
    max-width: $max-width;
    margin: 0 auto;
  }
}
