:root {
  --color-breadcrumbs: #b4bdc3;
}

.breadcrumbs {
  display: flex;
  .container {
    justify-content: flex-start;
  }
}

.icon {
  color: var(--color-breadcrumbs);
  width: 16px;
  height: 16px;
  margin: 10px 0 15px 5px;
}

.page {
  color: var(--color-breadcrumbs);
  margin-left: -5px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 40px;

  &__icon {
    margin-bottom: -1.5px;
  }
}
