.checkout {
  @include container;

  h2 {
    margin-top: 0;
  }

  &_content {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    @include lg-and-up {
      flex-direction: row;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }
}
