@use '../../shared/styles/container' as *;
@use '../../shared/styles/breakpoints' as *;

.cart-page {
  @include container;
  padding-bottom: 5rem;

  &__title {
    font-family: 'Mont', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: var(--primary);
    margin-top: 40px;
    letter-spacing: -0.01em;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include lg-and-up {
      flex-direction: row;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  &__list-section {
    width: 100%;
    flex: 1;
  }

  &__summary-section {
    position: sticky;
    top: 100px;
    width: 100%;
    flex-shrink: 0;

    @include lg-and-up {
      width: 368px;
    }
  }
}
