.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header, &__footer {
    width: 100%;
  }

  &__content {
    flex-grow: 1;
  }



  // подумати де це варто прописувати
  .hero {
    @include container;
  }

  .models {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    flex-wrap: wrap;
  }

  .categories {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    flex-wrap: wrap;
  }
}
