.order_form {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-surface);
  font-family: var(--font-main);
  border-radius: 8px;
  padding: 32px;
  border: 1px solid var(--elements);

  .form__field {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border: 1px solid var(--icons);
    border-radius: 8px;
    background-color: var(--bg-surface);
    color: var(--primary);
    outline: none;

    @include lg-and-up {
      width: 80%;
    }

    &:hover {
      border-color: var(--secondary);
    }

    &:focus {
      border-color: var(--primary);
    }

    &::placeholder {
      color: var(--secondary);
    }
  }

  .delivery__dropdown {
    margin-top: 20px;
  }

  .delivery__method {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--icons);
    border-radius: 8px;

    @include lg-and-up {
      width: 80%;
    }

    &:has(.radio__item--active) {
      border-color: var(--primary);
    }
  }

  .radio {
    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 12px;
      border-radius: 8px;
      background-color: var(--bg-surface);
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        border-color: var(--secondary);
      }
    }

    &__input {
      appearance: none;
      width: 16px;
      height: 16px;

      border: 2px solid var(--icons);
      border-radius: 50%;

      display: grid;
      place-content: center;

      cursor: pointer;

      &::before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.15s ease-in-out;
        background-color: var(--primary);
      }

      &:checked {
        border-color: var(--primary);
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    &__label {
      font-size: 14px;
      color: var(--primary);
      cursor: pointer;
      user-select: none;
    }
  }

  .delivery {
    &__dropdown {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        width: 100%;
      }
    }

    &__dropdown-nogap {
      margin-top: 15px;
      width: 100%;
    }

    &__list {
      border: 1px solid var(--icons);
      border-radius: 8px;
      background: var(--bg-surface);
      max-height: 200px;
      overflow-y: auto;
    }

    &__item {
      padding: 8px 12px;
      margin: 0;
      cursor: pointer;
      color: var(--secondary);

      &:hover {
        background: var(--hover);
        color: var(--primary);
      }

      &--active {
        background: var(--hover);
        color: var(--primary);
      }
    }

    &__title {
      font-size: 12px;
      font-weight: 600;
      color: var(--secondary);
    }
  }

  .error {
    font-size: 10px;
    color: var(--red-alert);
    margin-top: 4px;
  }
}
