$height: 74px;

:root {
  scroll-behavior: smooth;
  --color-contacts: #89939a;
}

.footer {
  @include container;
  height: $height;
  margin-top: $height;
  display: flex;
  background-color: var(--bg-surface);
  border-top: 1px solid var(--elements);

  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 120px;
  gap: 40px;

  @include lg-and-up {
    max-width: 100%;
  }
}

.log {
  width: 89px;
  height: 32px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 106px;
}

.footer__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-contacts);
  font-weight: 700;
  line-height: 11px;
}

.button__icon {
  margin-bottom: 5px;
}

.back {
  font-size: 12px;
  color: grey;
  font-weight: 600;
  margin-bottom: 1px;
  line-height: 100%;
}

.slider__button {
  width: 32px;
  height: 32px;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    align-items: center;
    height: auto;
  }

  .info {
    flex-direction: column;
    gap: 16px;
  }

  .container {
    align-self: center;
    justify-content: center;
    width: 100%;
  }
}

.logo,
.footer__container {
  flex-shrink: 0;
}

@media (min-width: 1281px) {
  .info {
    gap: 106px;
  }
}

@media (max-width: 1199px) and (min-width: 640px) {
  .info {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .info {
    flex-direction: column;
    gap: 16px;
  }
}
